sudo: false
language: cpp
before_install:
  - |
      if $ANALYSIS || $COVERAGE || $DOXYGEN ; then
        openssl aes-256-cbc -K $encrypted_7847d4633a14_key -iv $encrypted_7847d4633a14_iv -in travis/ithipages-publish-key.enc -out ~/.ssh/ithipages-publish-key -d
        chmod u=rw,og= ~/.ssh/ithipages-publish-key
        echo "Host github.com" >> ~/.ssh/config
        echo "  IdentityFile ~/.ssh/ithipages-publish-key" >> ~/.ssh/config
        ( cd /tmp
          git clone git@github.com:wtoorop/ithipages.git
          ls -l
        )
      fi
addons:
  apt:
    packages:
      - valgrind
      - lcov
      - python
      - doxygen
      - graphviz
matrix:
  include:
    - os: linux
      compiler: gcc
      env: VALGRIND=true  ANALYSIS=true  COVERAGE=true  DOXYGEN=true
    - os: linux
      compiler: clang
      env: VALGRIND=true  ANALYSIS=false COVERAGE=false DOXYGEN=false
    - os: osx
      compiler: gcc
      env: VALGRIND=false ANALYSIS=false COVERAGE=false DOXYGEN=false
    - os: osx
      compiler: clang
      env: VALGRIND=false ANALYSIS=false COVERAGE=false DOXYGEN=false
script:
  - |
      if $COVERAGE ; then
          CXXFLAGS="-Wall -Wextra -Wpedantic -Werror -g -fprofile-arcs -ftest-coverage -O0" \
            CFLAGS="-Wall -Wextra -Wpedantic -Werror -g -fprofile-arcs -ftest-coverage -O0" \
           LDFLAGS="-lgcov --coverage" cmake .
      elif $VALGRIND || $ANALYSIS ; then
          CXXFLAGS="-Wall -Wextra -Wpedantic -Werror -g" \
            CFLAGS="-Wall -Wextra -Wpedantic -Werror -g" cmake .
      else
          CXXFLAGS="-Wall -Wextra -Wpedantic -Werror"
            CFLAGS="-Wall -Wextra -Wpedantic -Werror" cmake .
      fi
  - make -j 4
  - ./ithitest
  - python travis/check-dnsstats-tables.py
  - |
      if $VALGRIND ; then
        valgrind -v --error-exitcode=1 ./ithitest
      fi
  - |
      if $ANALYSIS ; then
        ( mkdir analysis
          cd analysis
          echo "gitdir: ../.git" > .git
          git reset --hard
          scan-build cmake .
          scan-build -o /tmp/ithipages/analysis -stats make .
        )
      fi
  - |
      if $COVERAGE ; then
        geninfo .  -o ithitest.info
        lcov --remove ithitest.info '/usr/include/*' -o ithi.info
        genhtml ithi.info --output-directory /tmp/ithipages/coverage
      fi
  - |
      if $DOXYGEN ; then
        doxygen travis/Doxyfile
      fi
after_install:
  - |
      if $ANALYSIS || $COVERAGE || $DOXYGEN ; then
        ( cd /tmp/ithipages
          [ -d analysis ] && git add analysis
          [ -d coverage ] && git add coverage
          [ -d doxygen  ] && git add doxygen
          git commit -m "update from travis at `date`" \
          && git push
        )
      fi
